/* STYLE SECTIONING TAGS */
body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  text-align: center;
  background-image: radial-gradient(rgb(165, 209, 247), white);
}

/* STYLE TEXT */
h1 {
  font-family: "Cinzel Decorative", cursive;
  color: #000000;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.233);
}

h2 {
  margin-top: 2em;
  font-family: "Balsamiq Sans", cursive;
}

h3 {
  font-size: 24px;
  font-family: "Balsamiq Sans", cursive;
}

h4 {
  font-size: 18px;
  font-family: "Balsamiq Sans", cursive;
}

a {
  color: navy;
}

/* STYLE FLEX CONTAINER */
.question {
  display: flex;
  margin-top: 2em;
  overflow: auto;
}
  
/* STYLE FLEX ITEM */
.answer-choice {
  margin: 5px;
  font-size: 20px;
}

/* STYLE IMAGES */
.answer-choice img {
  height: 200px;
}

/* STYLE BUTTON */
button { 
  margin-top: 5px;
  border-radius: 40px;
  font-size: 17px;
  padding: 8px;
}
